<app-nav-menu>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        Profil bearbeiten
      </div>
      <div class="card-body">
        <form>
          <h5 class="card-title">Persönliche Daten</h5>
          <div class="form-group">
            <label for="Name">Vor- und Nachname</label>
            <input type="text" class="form-control" placeholder="Vor- und Nachname" readonly>
          </div>
          <div class="form-group">
            <label for="Email">E-Mail Addresse</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="E-Mail">
          </div>
          <div class="form-group">
            <label for="Benutzername">Benutzername</label>
            <input type="text" class="form-control" placeholder="Benutzername">
          </div>
          <div class="form-group">
            <label for="Telefonnumer">E-Mail Addresse</label>
            <input type="tel" class="form-control" placeholder="Telefonnummer">
          </div>
          <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
      </div>
      <div class="card-body">
        <form>
          <h5 class="card-title">Anschrift</h5>
          <div class="form-group">
            <label for="Name">Straße und Nummer</label>
            <input type="text" class="form-control" placeholder="Straße und Nummer">
          </div>
          <div class="form-group">
            <label for="Name">Postleitzahl</label>
            <input type="text" class="form-control" placeholder="Postleitzahl">
          </div>
          <div class="form-group">
            <label for="Name">Stadt</label>
            <input type="text" class="form-control" placeholder="Stadt">
          </div>
          <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
      </div>
      <div class="card-body">
        <form>
          <h5 class="card-title">Passwort ändern</h5>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password wiederholen</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password wiederholen">
          </div>

          <button type="submit" class="btn btn-primary">Ändern</button>
        </form>
      </div>
    </div>
  </div>



</app-nav-menu>
