<app-nav-menu>
  <div class="text-right">
    <button type="button" class="btn btn-primary" style="margin-top: 2em" (click)="addWorkSet()">
      Sicht hinzufügen
    </button>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Bezeichnung</label> <p *ngIf="submitted" class="text-danger">Alle Felder sind Pflichfelder !!!</p>
      <input type="text" class="form-control" placeholder="Kurze Beschreibung über Arbeitsset"
        [(ngModel)]="workLayer.name" [ngModelOptions]="{ standalone: true }" required/>
    </div>
    <div *ngFor="let item of workLayer.workSet" class="form-group">
      <div class="row align-items-center">
        <div class="col-md-3">
          <select class="form-control" [(ngModel)]="item.day" [ngModelOptions]="{standalone: true}" required>
              <option *ngFor="let d of days" [ngValue]="d.id">{{d.name}}</option>
          </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <ngb-timepicker [(ngModel)]="item.startPicker" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
        </div>
        <div class="col-md-3">
          <ngb-timepicker [(ngModel)]="item.endPicker" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
        </div>
        <div class="col-md-1 align-middle">
            <button type="button" class="btn btn-danger form-control" (click)="removeWorkSet(item);"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <hr style="width: 100%; height: 1px; " />
    </div>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form>
</app-nav-menu>
