<div class="container">
  <div class="row">
    <div *ngIf="codeValid" class="col-12">
      <div class="card">
        <h5 class="card-header text-center">Registrierung abschließen</h5>
        <div class="card-body">
          <form [formGroup]="userRegForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label>Vorname</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Vorname"
                  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required autocomplete="given-name">
                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                  <div *ngIf="f.firstname.errors.required">Vorname ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label>Nachname</label>
                <input type="text" class="form-control" formControlName="lastname" placeholder="Nachname"
                  [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" required autocomplete="family-name">
                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                  <div *ngIf="f.lastname.errors.required">Nachname ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label>Benutzername</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="username" placeholder="Benutzername"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors || submitted && error == 'username' }"
                    required autocomplete="username">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Benutzername ist ein Pflichtfeld</div>
                  </div>
                  <div *ngIf="submitted && error == 'username'" class="invalid-feedback">
                    <div>Benutzername ist bereits vergeben</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Anschrift</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Straße und Nr."
                  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required
                  autocomplete="shipping street-address">
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Straße und Nr. ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label>Stadt</label>
                <input type="text" class="form-control" formControlName="city" placeholder="Stadt"
                  [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required
                  autocomplete="shipping address-level2">
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Stadt ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label>PLZ</label>
                <input type="text" class="form-control" formControlName="postcode" placeholder="PLZ"
                  [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }" required autocomplete="postal-code">
                <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
                  <div *ngIf="f.postcode.errors.required">PLZ ist ein Pflichtfeld</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Telefonnummer</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Telefonnummer"
                  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required autocomplete="tel">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Telefonnummer ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label>E-Mail</label>
                <input type="text" class="form-control" formControlName="email" placeholder="E-Mail"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly autocomplete="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">E-Mail ist ein Pflichtfeld</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Passwort</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Passwort"
                  [ngClass]="{ 'is-invalid': submitted && (f.new_password.errors || error == 'pw' || error == 'pwl')}"
                  required autocomplete="off">
                <div *ngIf="submitted && error == 'pw'" class="invalid-feedback">
                  <div>Passwörter müssen gleich sein</div>
                </div>
                <div *ngIf="submitted && error == 'pwl'" class="invalid-feedback">
                  <div>Passwort muss mindestens aus sech Zeichen bestehen</div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors?.required">Passwort ist ein Pflichtfeld</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label>Passwort wiederholen</label>
                <input type="password" class="form-control" formControlName="new_password"
                  placeholder="Passwort wiederholen"
                  [ngClass]="{ 'is-invalid': submitted && (f.new_password.errors || error == 'pw' || error == 'pwl')}"
                  required autocomplete="off">
                <div *ngIf="submitted && error == 'pw'" class="invalid-feedback">
                  <div>Passwörter müssen gleich sein</div>
                </div>
                <div *ngIf="submitted && error == 'pwl'" class="invalid-feedback">
                  <div>Passwort muss mindestens aus sech Zeichen bestehen</div>
                </div>
                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                  <div *ngIf="f.new_password.errors.required">Passwort wiederholen ist ein Pflichtfeld</div>
                </div>

              </div>
            </div>
            <button class="btn btn-primary" type="submit">Registrierung abschließen</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div *ngIf="!codeValid" class="card">
        <h5 class="card-header text-center">Registrierung nicht möglich</h5>
        <div class="card-body">
          <h5 class="card-title">Es ist ein Fehler aufgetreten</h5>
          <p class="card-text">Ihr Link ist falsch oder nicht mehr gültig.</p>
        </div>
      </div>
    </div>
  </div>
</div>
