<app-nav-menu>
  <div class="container-fluid nextwork">
    <div class="card">
      <div class="card-header">
        <!-- Demnächst arbeitest du... --> Dashboard funktionalität wird noch entwickelt.
      </div>
      <!--<div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Filiale</th>
              <th scope="col">Datum</th>
              <th scope="col">Arbeitszeit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Klapperhof</th>   
              <td>12.03.2019</td>
              <td>11:00 - 17:00</td>
            </tr>
          </tbody>
        </table>
      </div>-->
    </div>
  </div>

 <!-- <div class="container-fluid nextwork">
    <div class="card">
      <div class="card-header">
        Unbelegte Sichten in den nachsten 2 wochen.
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Filiale</th>
              <th scope="col">Datum</th>
              <th scope="col">Arbeitszeit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Klapperhof</th>
              <td>15.03.2019</td>
              <td>11:00 - 17:00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid nextwork">
    <div class="card">
      <div class="card-header">
        Befinden sich im urlaub, sind krankgeschrieben
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Zuständige Filialen</th>
              <th scope="col">Zeitraum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Pawel Pawelski</th>
              <td>Klapperhof, Longerich</td>
              <td>15.02.2019 - 28.02.2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</app-nav-menu>
