<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4">
    </div>
    <div class="col align-self-center col-xl-3 col-lg-4 col-md-5">
      <div class="containter">
        <div class="card">
          <h5 class="card-header text-center">PANWA - Planverwaltung</h5>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column text-center">
                <div class="p-2">
                  <input type="text" class="form-control"  aria-describedby="emailHelp"
                    placeholder="Benutzername oder E-Mail" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required
                    autocomplete="username email" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Benutzername oder E-Mail ist ein Pflichtfeld</div>
                  </div>
                </div>
                <div class="p-2">
                  <input type="password" class="form-control" placeholder="Passwort"
                    formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required
                    autocomplete="current-password" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Passwort ist ein Pflichtfeld</div>
                  </div>
                </div>
                <div class="p-2">
                  <button type="submit" [disabled]="loading"
                    class="btn btn-outline-info btn-lg btn-block waves-effect">Einloggen</button>
                  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="">
    </div>
  </div>
</div>
